@page
@model EmlakOfisi.Pages.Admin.AdminUIModel
@{
	ViewData["Title"] = "Admin Sayfası";
}

<div>
	<a class="btn btn-primary" href="/Admin/Add">Yeni Emlakçı Ekle</a>
	<a class="btn btn-primary" href="/Login/Login">Çıkış Yap</a>
</div>
<h2>Emlakçılar</h2>
<table class="table table-bordered">
	<thead>
		<tr>
			<th>#</th>
			<th>Firma İsmi</th>
			<th>Kullanıcı Adı</th>
			<th>Şifre</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@for (int i = 0; i < Model.Agents.Count; i++)
		{
			<tr>
				<td>@(i+1)</td>
				<td>@Model.Agents[i].Name</td>
				<td>@Model.Agents[i].Username</td>
				<td>@Model.Agents[i].Password</td>
				<td>
					<a class="btn btn-primary" href="/Admin/Update/@Model.Agents[i].Id">Güncelle</a>
					<a class="btn btn-primary" href="/Admin/Delete/@Model.Agents[i].Id">Sil</a>
				</td>
			</tr>
		}
	</tbody>
</table>