@page
@model EmlakOfisi.Pages.Agent.AgentUIModel
@{
}

<a class="btn btn-primary" href="">Add New Ad</a>
<h2>Ads</h2>
<table class="table table-bordered">
	<thead>
		<tr>
			<th>#</th>
			<th></th>
			<th>Ad No</th>
			<th>Ad Name</th>
			<th>Property Type</th>
			<th>Property Status</th>
		</tr>
	</thead>
	<tbody>
		@*@for (int i = 0; i < Model.Agents.Count; i++)
		{
			<tr>
				<td>@(i+1)</td>
				<td>@Model.Agents[i].Name</td>
				<td>@Model.Agents[i].Username</td>
				<td>@Model.Agents[i].Password</td>
			</tr>
		}*@
	</tbody>
</table>